{% extends 'base.html.twig' %}

{% block title %}Etablissement{% endblock %}

{% block body %}

    <div class="container text-center mx-auto mt-5">

            <div class="mx-auto" style="width: 25rem;">
                <div class="">
                    <img class="" src="{{ etablissement.image }}" alt="Card image cap">
                        {% if etablissement in app.user.getFavoris %}
                            <a href="{{ path('app_etablissement_favoris_slug', {slug : etablissement.slug}) }}" class="text-decoration-none"><i class="bi bi-star-fill text-warning"></i></a>
                        {% else %}
                            <a href="{{ path('app_etablissement_favoris_slug', {slug : etablissement.slug}) }}" class="text-decoration-none"><i class="bi bi-star "></i></a>
                        {% endif %}
                    <h5 class=" mb-3">{{ etablissement.nom }}</h5>
                    {% for cat in etablissement.categorie %}
                        <h6 class=" mb-2"> <i class="bi bi-bookmarks-fill"></i> <span class="badge rounded-pill text-bg-secondary"> {{ cat.nom }}</span></h6>
                    {% endfor %}
                    <p class="">{{ etablissement.description }}</p>
                    <p class=""><i class="bi bi-geo-alt-fill"></i>  {{ etablissement.adresse }}, {{ etablissement.ville.nom }} , {{ etablissement.ville.CPVille }}</p>
                    <p><i class="bi bi-telephone-fill"></i> {{ etablissement.telephone }} / <i class="bi bi-envelope-at-fill"></i> {{ etablissement.email }}</p>
                </div>
            </div>
    </div>
{% endblock %}
