<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">FC-Tourisme</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_accueil') }}">Accueil</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="{{ path('app_etablissements') }}">Etablissements</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <span class="navbar-text">{{ app.user.pseudo }}</span>
                    <li>
                            <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Logout</a>
                    </li>


                {% else %}

                    <li>
                            <a class="nav-link active" aria-current="page" href="{{ path('app_security') }}">Login</a>

                    </li>


                {% endif %}


            </ul>
        </div>
    </div>
</nav>